---
import { CardGrid, LinkCard } from "@astrojs/starlight/components";
---

<h3 class="mb-10">Apartados : Gestión del Capital de las Empresas</h3>

<CardGrid>
    <LinkCard
        title="Acumulación de Caja"
        href="/guides/guia-valoracion-empresa-paso-5-1-gestion-del-capital-acumulacion-de-caja"
        description="Acumular caja es una de las formas de gestionar el capital de una empresa, pero es el más bajo en valor añadido para el accionista. ¿Por qué? ..."
    />
    <LinkCard
        title="Pago de Dividendos"
        href="/guides/guia-valoracion-empresa-paso-5-2-gestion-del-capital-pago-de-dividendos"
        description="El pago de dividendos es una de las formas de remunerar a los accionistas de una empresa. Pero, ¿es siempre la mejor opción? ..."
    />
    <LinkCard
        title="Amortización de Deuda"
        href="/guides/guia-valoracion-empresa-paso-5-3-gestion-del-capital-amortizacion-de-deuda"
        description="Cuando el coste de la deuda es mayor que el coste de capital, es fundamental amortizar deuda para aumentar el valor de la empresa."
    />
    <LinkCard
        title="Recompra de Acciones"
        href="/guides/guia-valoracion-empresa-paso-5-4-gestion-del-capital-recompra-de-acciones"
        description="Bajos Precios o bajo valor? es fundamental saberlo para la gestión de recomprar de acciones de una empresa. No hay mejor inversión que recomprar acciones propias a precios bajos... siempre cuando.."
    />
    <LinkCard
        title="Reinversión en el Negocio"
        href="/guides/guia-valoracion-empresa-paso-5-5-gestion-del-capital-reinversion-en-el-negocio"
        description="Capex de Crecimiento, M&A o Adquisiciones, es fundamental para la expansión de la empresa."
    />
</CardGrid>
