---
import { CardGrid, LinkCard } from "@astrojs/starlight/components";
---

<h3 class="mb-10">Apartados : Análisis de Calidad de las Empresas</h3>

<CardGrid>
    <LinkCard
        title="Calidad de los Ingresos"
        href="/guides/guia-valoracion-empresa-paso-3-1-analisis-calidad-de-los-ingresos"
        description="Ventas Orgánicas e inorgánicas, líneas de negocios, paises, ingresoss recurrentes, fijación de precios, estacionalidad son aspectos fundamentales a la hora de valorar una empresa."
    />
    <LinkCard
        title="Calidad de los Beneficios"
        href="/guides/guia-valoracion-empresa-paso-3-2-analisis-calidad-de-los-beneficios"
        description="Apalancamiento Operativo, EBITDA, EBIT, Net Income, Free Cash Flow, Comportamientos en tiempo de crisis son indicadores fundamentales a la hora de valorar una empresa."
    />
    <LinkCard
        title="Calidad de los Margenes"
        href="/guides/guia-valoracion-empresa-paso-3-3-analisis-calidad-de-los-margenes"
        description="Varición de los margenes, caídas de los margenes, Capex de Expansión (inversión en crecimiento), Costes I+D+i es un aspecto fundamental a la hora de valorar una empresa."
    />
    <LinkCard
        title="Calidad de la Rentabilidad y Eficiencia"
        href="/guides/guia-valoracion-empresa-paso-3-4-analisis-calidad-de-la-rentabilidad-y-eficiencia"
        description="ROIC , Retur on Invested Capital, es un indicador fundamental a la hora de valorar una empresa., y tasa de reinversión."
    />
    <LinkCard
        title="Calidad de la Salud Financiera"
        href="/guides/guia-valoracion-empresa-paso-3-5-analisis-calidad-de-la-salud-financiera"
        description="Caja o Deuda Neta? evolución y vencimiento del Endeudamiento, competidores, ¿que uso se hace de la dueda? son aspectos fundamental a la hora de valorar una empresa."
    />
    <LinkCard
        title="Calidad de la Generación de Caja"
        href="/guides/guia-valoracion-empresa-paso-3-6-analisis-calidad-de-la-generacion-de-caja"
        description="Generación del Free Cash Flow, Conversión de la EBITDA a FCF, CAPEX y Varición del Working Capital, Señales de Alertas son aspectos fundamentales a la hora de valorar una empresa."
    />
    <LinkCard
        title="Calidad de los Riesgos"
        href="/guides/guia-valoracion-empresa-paso-3-7-analisis-calidad-de-los-riesgos"
        description="Los principales riesgo a considerar son fundamentales a la hora de valorar una empresa y evaluar la sostenibilidad de su negocio y la estabilidad de la inversión a largo plazo."
    />
</CardGrid>
